/* /////////////////////////
IMPORTS and SETUPS
///////////////////////// */

/* Stylsheets */
@import "./reset.css";
@import "./form.css";

/* /////////////////////////
UTILITY CLASSES
///////////////////////// */

@media (min-width: 1024px) {
  .mobile-only {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .desk-only {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  opacity: 0;
}

*[aria-hidden="true"] {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.fit {
  width: fit-content;
}

.center,
.center-mobile {
  text-align: center;
  margin: auto;
  width: fit-content;
}

@media (min-width: 769px) {
  .center-mobile {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .center-desk {
    text-align: center;
    margin: auto;
    width: fit-content;
  }
}

.divider {
  border-top: 1px solid var(--clr-divider);
}

/* /////////////////////////
DECORATIONS, ILLUSTRATIONS and ANIMATIONS
///////////////////////// */

.illus {
  user-select: none;
}

picture {
  display: flex;
  height: fit-content;
  position: relative;
}

picture :is(img, svg) {
  width: 100%;
  max-width: 100%;
}

/* /////////////////////////
COMPONENTS
///////////////////////// */

fieldset label,
fieldset .trail,
fieldset .msg,
.note,
button,
.logo,
.snackbar,
.snackbar .msg {
  display: flex;
  gap: 0.4rem;
}

.logo {
  justify-content: left;
}

.logo p {
  order: 2;
  font-family: var(--ff-head);
  font-size: var(--fs-500);
}

.logo p,
.gradient-primary,
.gradient-accent {
  background-image: var(--gradient-primary);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-accent {
  background-image: var(--gradient-accent);
}

/* /////////////////////////
SNACKBAR COMPONENT
///////////////////////// */

.snackbar-sec {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  width: 100%;
  max-width: 43.2rem;
  z-index: 20;
  overflow: hidden;
}

.snackbar {
  --clr-snackbar-theme: var(--clr-status-info-dark-text);
  border: 2px solid var(--clr-snackbar-theme);
  background-color: var(--clr-status-info-dark-bg);
  min-height: 6.4rem;
  border-radius: 0.8rem;
  gap: 0.8rem;
  margin: 0.4rem 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.2rem;
  animation: fadeScaleUpIn 0.5s linear;
  overflow: hidden;
}

.snackbar.exit {
  animation: fadeScaleOut 0.5s linear;
}

.snackbar.error {
  --clr-snackbar-theme: var(--clr-status-negative-dark-text);
}

.snackbar.success {
  --clr-snackbar-theme: var(--clr-status-success-dark-text);
}

.snackbar.info {
  --clr-snackbar-theme: var(--clr-status-info-dark-text);
}

.snackbar.warn {
  --clr-snackbar-theme: var(--clr-status-warn-dark-text);
}

.snackbar button {
  background-color: transparent !important;
  color: var(--clr-white) !important;
}

.snackbar button.text {
  min-width: fit-content;
}

.snackbar button:hover,
.snackbar button.text:hover {
  background-color: var(--clr-primary-light) !important;
}

.snackbar .msg {
  font-weight: 400;
  color: var(--clr-snackbar-theme);
  display: flex;
  gap: 0.8rem;
}

/* /////////////////////////
DIALOG COMPONENT
///////////////////////// */

.dialog-sec {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: var(--clr-grey-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-sec.fullscreen {
  background-color: var(--clr-grey-bg);
  overflow-y: auto;
  height: 100vh;
  align-items: start;
}

.dialog {
  margin: 2.4rem;
  width: calc(100% - 4.2rem);
  max-width: 51.2rem;
  max-height: calc(100% - 4.2rem);
  min-height: 16rem;
  background-color: var(--clr-white);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 2.4rem;
}

.dialog-sec.fullscreen .dialog {
  margin: 0;
  width: 100%;
  max-height: fit-content;
  min-height: 100vh;
  border-radius: 0;
  padding: 2.4rem;
  overflow: visible;
  display: block;
}

.dialog .dialog-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0.4rem 0;
  overflow-y: auto;
  height: 100%;
  padding: 1.6rem;
  background-color: var(--clr-grey-bg);
  border-radius: 1.6rem;
}

.dialog-sec.fullscreen .dialog-body {
  overflow-y: visible;
}

.dialog .dialog-illus {
  width: 6.4rem;
}

.dialog .msg {
  color: var(--clr-grey-text);
}

.dialog .btn-box {
  display: flex;
  gap: 0.8rem;
  padding-top: 1.6rem;
}

.dialog .btn-box > * {
  width: 100%;
}

.dialog-sec .dialog-component {
  background-color: var(--clr-white);
  border-radius: 1.6rem;
  padding: 0.4rem 0.8rem;
}

/* /////////////////////////
  ANIMATIONS
///////////////////////// */

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeScaleDownIn {
  0% {
    opacity: 0;
    scale: 0.9;
    translate: 0 -50%;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
    translate: 0 0%;
  }
}

@keyframes fadeScaleUpIn {
  0% {
    opacity: 0;
    scale: 0.9;
    translate: 0 50%;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
    translate: 0 0%;
  }
}

@keyframes fadeScaleOut {
  0% {
    opacity: 1;
    scale: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    scale: 0.9;
  }
}

/* /////////////////////////
CONTAINERS and LAYOUTS
///////////////////////// */

main {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

main header,
aside header,
nav header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border-bottom: 1px solid var(--clr-grey-divider);
  background-color: var(--clr-white);
  padding: 0 0.8rem;
}

main header {
  border-bottom-color: var(--clr-accent);
}

main header h1,
aside .aside-body h2,
nav .nav-body h2 {
  width: 100%;
  text-align: center;
  font-size: var(--fs-500);
  margin-bottom: 0;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 769px) {
  main header h1,
  aside .aside-body h2,
  nav .nav-body h2 {
    font-size: var(--fs-600);
    text-align: left;
  }
}

main .main-content {
  height: 100%;
  overflow-x: auto;
}

/* Side Sections */

aside,
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-grey-overlay);
  visibility: hidden;
}

nav {
  z-index: 101;
}

aside .aside-body,
nav .nav-body {
  position: fixed;
  height: fit-content;
  background-color: var(--clr-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 50%;
}

aside .aside-body {
  bottom: -100%;
  left: 50%;
  translate: -50% 0;
  width: calc(100% - 3.2rem);
  max-height: calc(100% - 4.8rem);
  border-radius: 1.6rem 1.6rem 0 0;
}

nav .nav-body {
  top: 0;
  left: -100%;
  max-width: 28rem;
}

aside .aside-body .aside-content,
nav .nav-body .nav-content {
  padding: 1.6rem;
  overflow-y: auto;
  height: 100%;
}

/* SIDE SECTIONS ON DESKTOP */

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  aside,
  aside .aside-body,
  nav,
  nav .nav-body {
    position: static;
    translate: none;
    max-width: 28rem;
    width: 100%;
    border-radius: 0;
    max-height: 100vh;
    visibility: visible;
  }
  /* height: 100%; */
  aside {
    border-left: 1px solid var(--clr-accent);
  }
  nav {
    border-right: 1px solid var(--clr-accent);
  }
  .close-aside-btn {
    order: -1;
  }
}

/* NAV OPEN BUTTON */

button.icon.nav-open-btn {
  background: var(--gradient-accent);
  color: var(--clr-primary);
  margin-left: -0.8rem;
  border-radius: 0 50rem 50rem 0 !important;
  width: 6.4rem;
}

button.icon.nav-open-btn:active {
  scale: 1;
  width: 5.4rem;
}