/* /////////////////////////
IMPORTS and SETUPS
///////////////////////// */

/* Stylsheets */
@import "./reset.css";
@import "./form.css";

/* /////////////////////////
UTILITY CLASSES
///////////////////////// */

@media (min-width: 1024px) {
  .mobile-only {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .desk-only {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  opacity: 0;
}

*[aria-hidden="true"] {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.fit {
  width: fit-content;
}

.center,
.center-mobile {
  text-align: center;
  margin: auto;
  width: fit-content;
}

@media (min-width: 769px) {
  .center-mobile {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .center-desk {
    text-align: center;
    margin: auto;
    width: fit-content;
  }
}

.nowrap {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  border-top: 1px solid var(--clr-grey-divider);
}

/* /////////////////////////
DECORATIONS, ILLUSTRATIONS and ANIMATIONS
///////////////////////// */

.illus {
  user-select: none;
}

picture {
  display: flex;
  height: fit-content;
  position: relative;
}

picture :is(img, svg) {
  width: 100%;
  max-width: 100%;
}

/* /////////////////////////
COMPONENTS
///////////////////////// */

fieldset label,
fieldset .trail,
fieldset .msg,
.note,
button,
.logo,
.snackbar,
.snackbar .msg {
  display: flex;
  gap: 0.4rem;
}

.logo {
  justify-content: left;
}

.logo p {
  order: 2;
  font-family: var(--ff-head);
  font-size: var(--fs-500);
}

.logo p,
.gradient-primary,
.gradient-accent {
  background-image: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-accent {
  background-image: var(--gradient-accent);
}

/* /////////////////////////
SNACKBAR COMPONENT
///////////////////////// */

.snackbar-sec {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  width: 100%;
  max-width: 43.2rem;
  z-index: 20;
  overflow: hidden;
}

.snackbar {
  --clr-snackbar-theme: var(--clr-status-info-dark-text);
  border: 2px solid var(--clr-snackbar-theme);
  background-color: var(--clr-status-info-dark-bg);
  min-height: 6.4rem;
  border-radius: 0.8rem;
  gap: 0.8rem;
  margin: 0.4rem 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.2rem;
  animation: fadeScaleUpIn 0.5s linear;
  overflow: hidden;
}

.snackbar.exit {
  animation: fadeScaleOut 0.5s linear;
}

.snackbar.error {
  --clr-snackbar-theme: var(--clr-status-negative-dark-text);
}

.snackbar.success {
  --clr-snackbar-theme: var(--clr-status-success-dark-text);
}

.snackbar.info {
  --clr-snackbar-theme: var(--clr-status-info-dark-text);
}

.snackbar.warn {
  --clr-snackbar-theme: var(--clr-status-warn-dark-text);
}

.snackbar button {
  background-color: transparent !important;
  color: var(--clr-white) !important;
}

.snackbar button.text {
  min-width: fit-content;
}

.snackbar button:hover,
.snackbar button.text:hover {
  background-color: var(--clr-primary-light) !important;
}

.snackbar .msg {
  font-weight: 400;
  color: var(--clr-snackbar-theme);
  display: flex;
  gap: 0.8rem;
}

/* /////////////////////////
DIALOG COMPONENT
///////////////////////// */

.dialog-sec {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--clr-grey-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-sec.fullscreen {
  background-color: var(--clr-grey-bg);
  overflow-y: auto;
  height: 100vh;
  align-items: start;
}

.dialog {
  margin: 2.4rem;
  width: calc(100% - 4.2rem);
  max-width: 51.2rem;
  max-height: calc(100% - 4.2rem);
  min-height: 16rem;
  background-color: var(--clr-white);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 2.4rem;
}

.dialog-sec.fullscreen .dialog {
  margin: 0;
  width: 100%;
  max-height: fit-content;
  min-height: 100vh;
  border-radius: 0;
  padding: 2.4rem;
  overflow: visible;
  display: block;
}

.dialog .dialog-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0.4rem 0;
  overflow-y: auto;
  height: 100%;
  padding: 1.6rem;
  background-color: var(--clr-grey-bg);
  border-radius: 1.6rem;
}

.dialog-sec.fullscreen .dialog-body {
  overflow-y: visible;
}

.dialog .dialog-illus {
  width: 6.4rem;
}

.dialog .msg {
  color: var(--clr-grey-text);
}

.dialog .btn-box {
  display: flex;
  gap: 0.8rem;
  padding-top: 1.6rem;
}

.dialog .btn-box > * {
  width: 100%;
}

.dialog .btn-box button.negative {
  order: -1;
}

.dialog-sec .dialog-component {
  background-color: var(--clr-white);
  border-radius: 1.6rem;
  padding: 0.4rem 0.8rem;
}

/* /////////////////////////
  ANIMATIONS
///////////////////////// */

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeScaleDownIn {
  0% {
    opacity: 0;
    scale: 0.9;
    translate: 0 -50%;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
    translate: 0 0%;
  }
}

@keyframes fadeScaleUpIn {
  0% {
    opacity: 0;
    scale: 0.9;
    translate: 0 50%;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
    translate: 0 0%;
  }
}

@keyframes fadeScaleOut {
  0% {
    opacity: 1;
    scale: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    scale: 0.9;
  }
}

/* /////////////////////////
CONTAINERS and LAYOUTS
///////////////////////// */

main {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

main header,
aside header,
nav header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border-bottom: 1px solid var(--clr-primary);
  background-color: var(--clr-white);
  padding: 0 0.8rem;
  min-height: 4.04rem;
}

main header {
  box-shadow: 0px 4px 10px 0px #00000025;
}

main header h1,
aside .aside-body h2,
nav .nav-body h2 {
  width: 100%;
  text-align: center;
  font-size: var(--fs-500);
  margin-bottom: 0;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 769px) {
  main header h1,
  aside .aside-body h2,
  nav .nav-body h2 {
    font-size: var(--fs-600);
    text-align: left;
  }
}

main .main-content {
  height: calc(100% - 4.04rem);
  overflow-y: auto;
  background-color: var(--clr-grey-bg);
  padding: 0.8rem;
  gap: 1.6rem;
}

main .main-content > * {
  background-color: var(--clr-white);
  padding: 1.6rem;
  border-radius: 1.6rem;
  box-shadow: 0 4px 18px #00000010;
}

/* Side Sections */

aside,
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-grey-overlay);
  visibility: hidden;
  opacity: 0;
}

nav {
  z-index: 101;
}

aside .aside-body,
nav .nav-body {
  position: fixed;
  height: fit-content;
  background-color: var(--clr-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 50%;
  visibility: hidden;
}

aside .aside-body {
  bottom: -100%;
  left: 50%;
  translate: -50% 0;
  width: calc(100% - 3.2rem);
  max-height: calc(100% - 4.8rem);
  border-radius: 1.6rem 1.6rem 0 0;
}

nav .nav-body {
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 28rem;
}

aside .aside-body h2,
nav .nav-body h2 {
  font-size: var(--fs-400);
}

aside .aside-body .aside-content,
nav .nav-body .nav-content {
  padding: 1.6rem;
  overflow-y: auto;
  height: 100%;
}

nav .nav-body .nav-content {
  padding: 0;
}

.input-aside-close-btn {
  position: absolute;
  right: 1.6rem;
}

/* SIDE SECTIONS ON DESKTOP */

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  aside,
  aside .aside-body,
  nav,
  nav .nav-body {
    position: static;
    translate: none;
    width: 100%;
    border-radius: 0;
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
  }
  aside {
    border-left: 1px solid var(--clr-primary);
  }
  nav {
    border-right: 1px solid var(--clr-primary);
  }
  .input-aside-close-btn {
    position: static;
    order: -1;
  }
}

/* NAV OPEN BUTTON */

button.icon.nav-open-btn {
  background: var(--gradient-accent);
  color: var(--clr-black);
  margin-left: -0.8rem;
  border-radius: 0 50rem 50rem 0 !important;
  width: 6.4rem;
}

button.icon.nav-open-btn:active {
  scale: 1;
  width: 5.4rem;
}

/* Handling Opening and Closing of Navbar and Input Aside */
aside.aside-visible,
.input-aside-close-btn.aside-visible,
aside.aside-visible .aside-body,
nav.nav-visible,
.nav-close-btn.nav-visible,
nav.nav-visible .nav-body {
  opacity: 1;
  visibility: visible;
}

.input-aside-open-btn.aside-visible,
.nav-open-btn.nav-visible {
  opacity: 0;
  visibility: hidden;
}

aside.aside-visible .aside-body {
  bottom: 0;
}

nav.nav-visible .nav-body {
  left: 0;
}

@media (max-width: 1024px) {
  aside.aside-visible {
    transition: all 0.5s linear;
  }
}

@media (min-width: 1024px) {
  aside,
  nav {
    max-width: 0px;
  }

  aside.aside-visible {
    max-width: 36rem;
  }

  nav.nav-visible {
    max-width: 28rem;
  }
}

/* NAVIGATION BAR CSS */
/* Individual Menu Item in Menu */

.nav-content menu {
  padding: 1.6rem 0.8rem;
}

.nav-content .menu-item {
  margin: 0.2rem 0;
  padding: 0;
  width: 100%;
  justify-content: left;
  overflow: hidden;
  min-width: 100%;
}

.nav-content .menu-item a {
  padding: 0.8rem 0.4rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: left;
  width: 100%;
}

.nav-content .menu-item a i {
  color: var(--clr-primary);
}

/* Menu Item Hover Effects */
.menu-item:hover {
  background-color: var(--clr-grey-hover);
}

/* Active Menu Item - Color and Icon change */
.menu-item .icon.filled,
.menu-item.active .icon:not(.filled) {
  visibility: hidden;
  display: none;
}

.menu-item.active .icon.filled {
  visibility: visible;
  display: initial;
}

.menu-item.active {
  background-color: var(--clr-primary-hover);
  color: var(--clr-primary-dark);
}

/* /////////////////////////
Tables
///////////////////////// */

.table-container {
  margin: 1.6rem 0;
  overflow: auto;
}

table {
  width: 100%;
  max-width: 56rem;
  border-collapse: collapse;
  background-color: var(--clr-white);
  border-bottom: 1px solid var(--clr-grey-divider);
}

table caption {
  padding: 0.4rem;
  border-bottom: 1px solid var(--clr-grey-divider);
}

table tbody:nth-of-type(odd) tr:nth-of-type(even),
table tbody:nth-of-type(even) tr:nth-child(odd) {
  background-color: var(--clr-grey-bg);
}

table td,
table th {
  padding: 0.8rem;
  border: 1px solid var(--clr-grey-divider);
  border-bottom: none;
  border-top: none;
}

table .label-cell {
  color: var(--clr-black);
  background-color: var(--clr-primary-focus);
}

table th {
  background-color: var(--clr-primary-light);
  color: white;
}

table tr > *:nth-of-type(2),
table tr > *:nth-of-type(3) {
  text-align: center;
}

table fieldset {
  margin: 0;
}

table button {
  margin: 0;
  min-width: 100%;
  border-radius: 0;
}

table td:has(button) {
  padding: 0;
}

table caption {
  text-align: right;
}

/* /////////////////////////
  SOURCE INPUTS SECTION
///////////////////////// */

.source-input-sec {
  padding: 0.8rem;
}

.source-input-sec .source-input {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0.4rem;
  padding: 0.8rem 0;
  margin: 0.8rem 0;
  border-bottom: 1px solid var(--clr-grey-divider);
}

.source-input-sec h3 {
  font-size: var(--fs-500);
}

.source-input .input-value,
.positional-sec .source-input .subtitle {
  grid-row: span 2;
  text-align: right;
  align-content: center;
}

.source-input .input-value {
  font-size: var(--fs-600);
  font-weight: 600;
}

.positional-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.positional-sec > .nowrap {
  grid-column: span 2;
}

/* /////////////////////////
GRAPHS
///////////////////////// */

.graph-sec {
  border-radius: 0.8rem;
  overflow: hidden;
}

.graph-sec > div {
  padding: 0.8rem;
}

/* GRAPH TITLE SECTION */

.graph-sec h3 {
  font-size: var(--fs-500);
}

.graph-sec .controls-box,
.graph-sec .controls-box .controls,
.graph-sec .controls-box .controls .btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.6rem;
}

.graph-sec .controls-box {
  margin-top: 1.6rem;
  flex-wrap: wrap;
  border: 1px solid var(--clr-primary-hover);
}

.graph-sec .controls-box .controls {
  border: 1px solid var(--clr-primary-focus);
  margin-left: auto;
}

/* GRAPH INDEX SECTION */

.graph-sec .index {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8rem;
  gap: 1.6rem;
}

.graph-sec .index-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.graph-sec .index-item .index-symbol,
.data-point {
  background-color: var(--clr-index);
  display: grid;
  place-items: center;
  min-width: 1.2rem;
  max-width: 1.2rem;
  min-height: 1.2rem;
  max-height: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: var(--fs-200);
}

.graph-sec .index-item .index-symbol.line {
  min-width: 2.4rem;
  max-width: 2.4rem;
  min-height: 0.2rem;
  max-height: 0.2rem;
  border-radius: 0.2rem;
}

/* GRAPH SECTION */

.graph-sec .graph-box {
  padding: 2.4rem;
  min-height: calc(var(--height) + 12.8rem);
  position: relative;
}

.axis-x-label,
.axis-y-label,
.graph-box .graph-holder,
.graph-holder .grid-line-x-holder,
.graph-holder .grid-line-y-holder,
.grid-line-x,
.grid-line-y {
  position: absolute;
}

/* GRAPH HORIZONTAL (X) and VERTICAL (Y) LABELS */

.axis-x-label {
  bottom: -0.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.axis-y-label {
  top: calc(50% - 0.8rem);
  transform: translate(-50%, -50%) rotate(-90deg);
  left: 1.3ch;
}

/* GRAPH HOLDER - ACTUAL GRAPH DISPLAYER */

.graph-box .graph-holder {
  right: 2.4rem;
  top: 2.4rem;
  height: calc(100% - 4.8rem - 0.4rem - 3ch);
  width: calc(100% - 4.8rem - 0.4rem - 1.6rem - var(--value-width));
  border: 1px solid var(--clr-grey-text);
  border-top: none;
  border-right: none;
}

/* X and Y GRID LINES HOLDERS */
.graph-holder .grid-line-x-holder,
.graph-holder .grid-line-y-holder {
  display: flex;
  z-index: -1;
  color: var(--clr-primary);
}

.graph-holder .grid-line-x-holder {
  width: calc(100% - 2.4rem);
  height: 100%;
}

.graph-holder .grid-line-y-holder {
  bottom: -0.05rem;
  flex-direction: column;
  width: calc(100% + 0.4rem);
  height: calc(100% - 2.4rem);
  right: 0;
}

/* GRID LINES > Lines, > Axix Indicator Points, > Values */
/* X will be vertical */
/* Y will be horizontal */

.grid-line-x,
.grid-line-y {
  display: flex;
  align-items: center;
  font-size: var(--fs-300);
}

.grid-line-x {
  flex-direction: column;
  height: calc(100% + 2.2rem);
}

.grid-line-y {
  width: 100%;
}

.grid-line-x .line {
  border-left: 1px dotted var(--clr-primary-light);
  height: 100%;
}

.grid-line-y .line {
  border-top: 1px dotted var(--clr-primary-light);
  width: 100%;
}

.grid-line-x .point {
  border-left: 2px solid var(--clr-grey-divider);
  height: 0.4rem;
}

.grid-line-y .point {
  border-top: 2px solid var(--clr-grey-divider);
  width: 0.4rem;
  order: -1;
}

.grid-line-x .value {
  order: 10;
}

.grid-line-y .value {
  padding-right: 0.2rem;
  text-align: right;
  width: calc(var(--value-width) + 0.2rem);
  position: absolute;
  left: calc((var(--value-width) * -1) - 0.2rem);
}

/* Data Point HOLDER, Data PointS and TOOLTIPS */

.data-point-holder {
  --clr-inset-border: var(--clr-primary-light);
  width: calc(100% - 2.4rem);
  height: calc(100% - 2.4rem);
  bottom: 0;
  left: 0;
  position: absolute;
}

.data-point,
.linebox {
  position: absolute;
  transform: translate(-50%, -50%);
  left: var(--x-percentage);
  bottom: calc(var(--y-percentage) - 1.2rem);
  box-shadow: inset 0 0 0 1px var(--clr-inset-border);
  cursor: pointer;
}

.data-point i {
  font-size: var(--fs-200);
}

.data-point:has(i) {
  --clr-inset-border: transparent;
}

.data-point i::before {
  width: 1.2rem;
}

.data-point-tooltip {
  position: absolute;
  background-color: var(--clr-black-light);
  color: var(--clr-white);
  width: max-content;
  bottom: calc(100% + 0.4rem);
  left: var(--x-percentage);
  transform: translateX(-50%);
  padding: 0.8rem;
  border-radius: 0.8rem;
  visibility: hidden;
  opacity: 0;
}

.data-point-tooltip:hover {
  z-index: 11;
}

.data-point-tooltip .label {
  color: var(--clr-accent-light);
}

.data-point-tooltip .subtitle {
  color: var(--clr-grey-bg);
}

/* Data Point HOVER EFFECTS */
.data-point:hover {
  box-shadow: inset 0 0 0 1px var(--clr-inset-border),
    0 0 0 8px var(--clr-primary-hover);
}

.data-point:hover + .data-point-tooltip {
  box-shadow: 0 0 0 8px var(--clr-primary-hover);
}

/* Selected */

.data-point.selected,
.data-point-tooltip.visible {
  box-shadow: inset 0 0 0 1px var(--clr-inset-border),
    0 0 0 2px var(--clr-primary-light);
}

.data-point:hover + .data-point-tooltip,
.data-point-tooltip.visible {
  visibility: visible;
  opacity: 1;
}

/* Hovering After Selected */
.data-point.selected:hover,
.data-point.selected:hover + .data-point-tooltip.visible {
  box-shadow: inset 0 0 0 1px var(--clr-inset-border),
    0 0 0 2px var(--clr-primary-light), 0 0 0 8px var(--clr-primary-hover);
}

/* Waveline */

.data-point-holder path {
  display: block;
  transform: scaleY(180deg) translateY(-100%);
}

.data-point-holder .linebox {
  bottom: var(--y-percentage);
  transform: translate(0, 0);
  box-shadow: none;

  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.6px),
    var(--clr-index) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.6px),
    rgba(0, 0, 0, 0) 100%
  );
}
.data-point-holder .linebox.downwards {
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.6px),
    var(--clr-index) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.6px),
    rgba(0, 0, 0, 0) 100%
  );
}
