/* /////////////////////////
IMPORTS and SETUPS
///////////////////////// */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  /* Colors */
  /* Primary */
  --clr-primary-dark: #0d1341;
  --clr-primary: #161f6d;
  --clr-primary-light: #454c8a;
  --clr-primary-hover: #d0d2e2;
  --clr-primary-focus: #d9dcff;
  --gradient-primary: linear-gradient(
    90deg,
    var(--clr-primary-light),
    var(--clr-primary-dark)
  );
  /* Accent */
  --clr-accent-dark: #998100;
  --clr-accent: #e6c200;
  --clr-accent-light: #ffdf33;
  --clr-accent-hover: #fff7cc;
  --clr-accent-focus: #ffef99;
  --gradient-accent: linear-gradient(
    -90deg,
    var(--clr-accent-light),
    var(--clr-accent-dark)
  );

  /* Black */
  --clr-black: #000000;
  --clr-black-light: #212121;
  /* White */
  --clr-white: #ffffff;
  /* Grey */
  --clr-grey-text: #5b5b5b;
  --clr-grey-overlay: #13131466;
  --clr-grey-divider: #b5b5b5;
  --clr-grey-bg: #efefef;
  --clr-grey-hover: #ebebeb;

  /* Status Colors */
  /* Info */
  --clr-status-info-light-bg: #cce8ed;
  --clr-status-info-dark-bg: #002a32;
  --clr-status-info-light-text: #017f95;
  --clr-status-info-dark-text: #34a4b7;
  /* Success */
  --clr-status-success-light-bg: #ccf9e1;
  --clr-status-success-dark-bg: #00431f;
  --clr-status-success-light-text: #00ca5e;
  --clr-status-success-dark-text: #33e686;
  /* Warning */
  --clr-status-warn-light-bg: #ffe680;
  --clr-status-warn-dark-bg: #665200;
  --clr-status-warn-light-text: #e6b800;
  --clr-status-warn-dark-text: #ffe066;
  /* Negative */
  --clr-status-negative-light-bg: #f3d0cc;
  --clr-status-negative-dark-bg: #3a0600;
  --clr-status-negative-light-text: #ae1100;
  --clr-status-negative-dark-text: #cd4233;

  /* Font-Sizes */
  --fs-100: 1rem;
  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 2rem;
  --fs-600: 2.4rem;
  --fs-700: 3.4rem;
  --fs-800: 4.8rem;
  --fs-900: 6rem;
  --fs-1000: 9.6rem;

  /* Font Families */
  --ff-def: "Inter", sans-serif;
  --ff-head: "Lora", serif;
}

/* /////////////////////////
CSS RESET
///////////////////////// */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1441px) {
  html {
    font-size: 75.2%;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 10;
  transition: all 0.2s linear;
}

*::before,
*::after {
  font-family: "bootstrap-icons";
}

body {
  font-family: var(--ff-def);
  font-size: var(--fs-400);
  color: var(--clr-black);
  background-color: var(--clr-white);
  line-height: 1.3;
  min-height: 100vh;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
}

html,
body {
  overscroll-behavior-x: none;
}

/* FOR DISABLED ANIMATION */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TYPOGRAPHY */

p {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.8rem;
  font-family: var(--ff-head);
  color: var(--clr-black-light);
  text-wrap: balance;
}

.ff-head {
  font-family: var(--ff-head);
}

.ff-def {
  font-family: var(--ff-def);
}

.fs-100,
.overline {
  font-size: var(--fs-100);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.fs-200 {
  font-size: var(--fs-200);
}

table caption,
.subtitle,
.fs-300 {
  color: var(--clr-grey-text);
  font-size: var(--fs-300);
}

h6,
.fs-400 {
  font-size: var(--fs-400);
  font-weight: 700;
}

.fs-400 {
  font-weight: 500 !important;
}

h5,
.fs-500 {
  font-size: var(--fs-500);
}

h4,
.fs-600 {
  font-size: var(--fs-600);
}

h3,
.fs-700 {
  font-size: var(--fs-700);
}

.ff-head,
.fs-900,
.fs-800 {
  font-weight: 300;
  letter-spacing: -1.5px;
}

h2,
.fs-800 {
  font-size: var(--fs-800);
}

h1,
.fs-900 {
  font-size: var(--fs-900);
}

code,
pre,
kbd,
samp,
var,
blockquote,
cite,
abbr,
.ff-mono {
  font-family: var(--ff-mono);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

a.text-link {
  text-decoration: underline;
  font-weight: 700;
  color: var(--clr-primary);
  padding: 0.2rem;
}

a.text-link:hover {
  text-decoration: none;
  color: var(--clr-accent);
}
