.main-content {
  gap: 1.6rem;
}
form {
  padding: 1.6rem;
  padding-bottom: 4.04rem;
}

form > section {
  max-width: 35.2rem;
  width: 100%;
  margin: auto;
}

@media (min-width: 769px) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
  }

  form > section {
    max-width: 100%;
    margin: 0;
    padding: 0 1.6rem;
  }

  form section.avs-positions {
    padding-left: 1.6rem;
    padding-right: 0;
    border-left: 1px solid var(--clr-accent-light);
  }

  form .btn-box {
    border-top: 1px solid var(--clr-accent-light);
    grid-column: 1 / span 2;
    margin: 0;
  }
}

.seastate-check-radio-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

table fieldset input {
  text-align: center;
  width: 100%;
}

.avs-positioning-table table tbody tr:nth-of-type(2) {
  background-color: inherit;
}

.avs-positioning-table :is(th, td) {
  border: none;
}

table tr > td:nth-of-type(2),
table tr > td:nth-of-type(3) {
  text-align: left;
}

.avs-positioning-table td:has(fieldset) {
  align-content: start;
}

.inputs-history-sec .empty-sec {
  margin-top: 2.4rem;
}

.inputs-history-sec table {
  margin: auto;
  margin-top: 1.6rem;
}

.inputs-history-sec tr :is(th, td):nth-of-type(1) {
  max-width: 9.2rem;
}

.inputs-history-sec tr td {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputs-history-sec table button {
  background: var(--gradient-accent);
  color: var(--clr-black);
}

.inputs-history-sec table button::before {
  background-color: var(--clr-accent);
}

.inputs-history-sec table button:active::before {
  background: var(--clr-accent-dark);
}
